@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");
:root {
  --clr-background: #1a3950;
  --clr-background2: #dddddd;
  --clr-background-btn-cta: #212220;
  --font-roboto: "Roboto Mono", monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/****** HEADER **********/
header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: var(--clr-background);
  height: 10vh;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  transform: scale(1.1);
}
.logo {
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: 400;
}
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-right: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/****** HERO **********/
.hero {
  background-image: url("/images/balcones.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: aliceblue;
  padding: 20px;
  gap: 2em;
}
.hero-card-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.hero-card-text h1 {
  font-size: 2.5em;
  text-wrap: balance;
}
.hero a {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
/****** QUIENES SOMOS **********/
.quienes-somos-container {
  padding: 20px;
  background-color: var(--clr-background);
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
.quienes-somos-pic {
  width: 100%;
}
.quienes-somos-pic img {
  width: 100%;
}
.quienes-somos-card {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.quienes-somos-text {
  color: #dddddd;
}
.quienes-somos-text h2 {
  padding-block: 10px;
  font-size: 1.8em;
  border-bottom: 1px solid #dddddd;
}
.quienes-somos-text p {
  font-size: 1.2em;
  padding-top: 1em;
}
.quienes-somos-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.icons-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.icons-box i {
  font-size: 3em;
}
/****** QUIENES SOMOS **********/
.propiedades-container {
  padding: 20px;
}
.propiedades-title {
  padding-block: 10px;
  font-size: 1.8em;
}
.propiedades-cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.propiedades-card {
  background-color: var(--clr-background);
  color: aliceblue;
}
.propiedades-img {
  width: 100%;
}
.propiedades-card-info {
  height: 100px;
}
/******************************************************************************************/
/*****************************************************************************************/
/**************** media queries ********************/

@media screen and (max-width: 780px) {
  header {
    padding-inline: 20px;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: rgb(255, 255, 255);
  }

  .cerrar-menu {
    color: rgb(255, 255, 255);
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-background);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
    padding-right: 0;
  }

  .nav-list li a {
    color: rgb(255, 255, 255);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 1.5em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding-left: 50px;
  }
  /****** HERO **********/
  .hero {
    height: 90vh;
    align-items: flex-end;
    color: aliceblue;
    padding: 20px;
    gap: 2em;
  }
  .hero-card-text {
    width: 50%;
  }
  .hero-card-text h1 {
    font-size: 4em;
    text-wrap: balance;
  }
  .hero-card-text p {
    font-size: 1.5em;
  }
  .button-container {
    width: 50%;
  }
  .hero a {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  /****** QUIENES SOMOS **********/
  .quienes-somos-container {
    padding: 0;
    flex-direction: row;
  }
  .quienes-somos-pic {
    width: 50%;
  }
  .quienes-somos-card {
    padding: 50px;
    justify-content: space-around;
  }
  .quienes-somos-text {
    color: #dddddd;
    width: 80%;
  }
  .quienes-somos-text h2 {
    padding-block: 10px;
    font-size: 3em;
  }
  .icons-box {
    justify-content: space-around;
    width: 70%;
  }
  .icons-box i {
    font-size: 3em;
  }
  /****** QUIENES SOMOS **********/
  .propiedades-container {
    padding: 50px;
  }
  .propiedades-title {
    padding-block: 10px;
    font-size: 1.8em;
    padding-block: 20px;
  }
  .propiedades-cards {
    flex-direction: row;
    justify-content: space-around;
  }
  .propiedades-card {
    width: 30%;
  }
  .propiedades-card-info {
    height: 150px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
